In [15]:
import pandas as pd
from datetime import date

In [151]:
df_user_data = pd.read_csv('data/user_data.csv')

In [152]:
df_user_data

     name  age  weight  height        Date
0  Julian   10      60     160  2021-11-26
1     Max   12      20     150  2021-11-26

In [153]:
'Julian' in df_user_data.name

False

In [154]:
df_user_data = df_user_data.append(pd.DataFrame(user_2, index=[date.today()]))

In [155]:
df_user_data.loc[df_user_data['age'] == 10].values

array([['Julian', 10, 60, 160, '2021-11-26']], dtype=object)

In [156]:
'Julian' in df_user_data.values

True

In [157]:
if 'Julian' in df_user_data.loc[df_user_data['age'] == 10].values : 
    print('awesome!')
else:
    print('damn')

awesome!

In [150]:
df_user_data.to_csv('data/user_data.csv', index=None)

   Date    name  age  weight  height
0     0  Julian   10      60     160
1     1     Max   12      20     150